@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.body{
    font-family: 'Roboto', sans-serif;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1140px;

    padding: 0 15px;
    margin: 0 auto;

    position: relative;
}


/* HEADER */
.header{
    width: 100%;

    position: fixed;
    top: 0px;
    left: 0;
    z-index: 50;
}
.header:before{
    content: "";
    width: 100%;
    height: 100%;

    background-color: rgb(172, 185, 221,0.5);


    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.header__body{
    width: 100%;
    padding: 22px 0;

    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* header__logo */
.header__logo{
    z-index: 3;
}
.logo{
    max-width: 100%;
}


/* header__burger */
.header__burger{
    display: none;
}
.header__burger span{}


/* header__menu */
.header__menu{
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    font-family: 'Roboto', sans-serif;

    z-index: 3;
}
.header__list{
    display: flex;

    margin-right: 20px;
}
.header__list li{
    margin-left: 60px;
}
.header__list li:nth-child(1){
    margin-left: 0;
}
.header__link{
    color: #000;
    text-decoration: none;

    display: inline-block;
    position: relative;

    transition: all 0.2s linear;
}
.header__link:before{
    content: "";
    display: flex;
    width: 100%;
    height: 2px;

    background-color: #000;

    position: absolute;
    bottom: 0;
    left: 0;
    display: none;

    transition: all 0.2s linear;
}
.header__link:hover:before{
    display: block;

    transition: all 0.2s linear;
}


/* header__form */
.header__form{
    display: flex;
}

.header__input{
    padding: 18px 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    color: rgb(0, 0, 0,0.5);
    border: 2px solid transparent;

    transition: all 0.2s linear;
}
.header__input:focus{
    color: #000;
    text-align: start;
    border: 2px solid#000;
    transition: all 0.2s linear;

}

.header__btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;

    color: #fff;
    background-color: #000;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

    padding: 18px 20px;

    transition: all 0.2s linear;
}
.header__btn:hover{
    background-color: #0f0f0f;
    transition: all 0.2s linear;
}


/* inner */
.inner{
    background: url('../img/inner.png') center no-repeat;
    background-size: cover;
    -webkit-background-size:cover;

    width: 100%;
    height: 100vh;
    min-height: 903px;

    position: relative;
    top: 0;
    left: 0;

    font-family: 'Roboto', sans-serif;
}

.inner__body{
    max-width: 356px;

    padding: 0px 10px;

    position: absolute;
    top: 192px;
    left: 0;
}

.h1{
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;

    color: #000;
}
.inner__title{
    margin-bottom: 14px;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000;
}

.inner__form{
    display: flex;
}
.inner__input{
    padding: 18px 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    color: rgb(0, 0, 0,0.5);
    border: 2px solid transparent;

    transition: all 0.2s linear;
}
.inner__input:focus{
    color: #000;
    text-align: start;
    border: 2px solid#000;
    transition: all 0.2s linear;

}
.inner__btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;

    color: #fff;
    background-color: #000;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

    padding: 18px 20px;

    transition: all 0.2s linear;
}
.inner__btn:hover{
    background-color: #0f0f0f;
    transition: all 0.2s linear;
}

.inner__text{
    margin-top: 10px;
}
.inner__photo{
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.photo__google{
    max-width: 100%;
    height: auto;
    margin-right: 25px;
}
.photo__appstore{
    max-width: 100%;
    height: 100%;
}


/* inner__block */
.inner__block{
    width: 100%;
    background-color: #EFEFEF;

    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 10px 25px 10px;
}

.innner__item{
    display: flex;
    justify-content: center;
    width: 20%;
}

.inner__item_photo{}
.inner__item_photo img{
    max-width: 100%;
}

.inner__item_text{
    margin: 0 12px 0 12px;

    font-weight: 400;
    color: #000;
}
.p__title{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.93px;
    text-align: center;
}
.p__text{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}


/*about*/
.about{
    padding: 79px 0 100px 0;
    width: 100%;

    font-family: 'Roboto', sans-serif;
}


/* section */
.section{
    font-family: 'Roboto', sans-serif;
}
.section p{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    color: #000;
}


/* about__body */
.about__body{
    width: 100%;
}

.about__item{
    position: relative;
    width: 100%;
    min-height: 600px;


    background: url("../img/Rectangle%20(6).jpg") center no-repeat;

    margin-top: 37px;
}

.about__section{
    position: absolute;
    top: 42px;
    left: 40px;
    z-index: 2;

    max-width: 493px;
}
.section__title{
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    color: #000;

}
.section__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #000;
    border-radius: 50px;

    padding: 20px 38px;
    margin-top: 238px;

    transition: all 0.2s linear;
}
.section__btn:hover{
    background-color: #0f0f0f;
    transition: all 0.2s linear;
}


.about__row{
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    height: 600px;
}
.about__col{
    margin-right: 20px;
    position: relative;
    width: 50%;
}
.about__col:last-child{
    margin-right: 0px;
}

.about__col_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.col__item{
    position: absolute;
    top: 42px;
    left: 40px;
    z-index: 2;

    max-width: 425px;
}
.col__item p{
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
}
.col__btn{
    position: absolute;
    bottom: 60px;
    left: 40px;
    z-index: 2;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #000;
    border-radius: 50px;

    padding: 20px 38px;

    transition: all 0.2s linear;
}
.col__btn:hover{
    background-color: #0f0f0f;
    transition: all 0.2s linear;
}


/* partners */
.partners{
    background-color: #EFEFEF;

    padding: 79px 0 80px 0;
}

.partners__row{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}
.partners__col{
    width: 33.333333%;
    margin-bottom: 20px;
}
.partners__col img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    display: block;
    margin: 0 auto;
}


/* colors */
.colors{
    padding: 79px 0 100px 0;
    width: 100%;
}

.h2{
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    text-align: center;

    color: #000;
}

.colors__row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 77px;
}
.colors__row a{
    margin-right: 20px;
}
.colors__row a:last-child{
    margin-right: 0;
}
.colors__col{
    position: relative;
}
.colors__col img{
    max-width: 100%;
    height: auto;
}
.colors__col p{
    font-weight: 700;
    font-size: 52px;
    line-height: 66px;

    text-align: center;

    position: absolute;
    top: 36px;
    left: 50%;

    transform: translate(-50%);

}
.p__black{
    color: #000;
}
.p__peach{
    color: #fff;
}


/* empower */
.empower{
    width: 100%;
    background-color: #FCD0BA;

    padding: 82px 0 80px 0;
}
.empower__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h3{
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    text-align: center;

    color: #000;

    margin-bottom: 46px;
}


/*footer*/
.footer{
    width: 100%;
    background-color: #000000;

    padding: 41px 0 97px 0;
}
.footer__body{
    width: 100%;
}

.footer__row{
    display: flex;

    border-bottom: 1px solid#4d4d4d;
}
.footer__col{
    width: 25%;

    display: flex;
    flex-direction: column;



    position: relative;
}
.fa-wifi{
    color: #fff;
    font-size: 45px;
}
.p__txt{
    color: #b3b3b3;
    margin-top: 25px;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    margin-bottom: 37px;

}
.footer__col a{
    color: #fff;
    text-decoration: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 90px;
    transition: all 0.2s linear;
}
.footer__col a:hover{
    color: rgb(162, 179, 226);
    transition: all 0.2s linear;
}

.footer__text{
    color: #B3B3B3;
    margin-top: 39px;
    padding-right: 28px;
}
.footer__text p{
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.footer__text p:last-child{
    margin-bottom: 0;
}


/*-----------------------------------------------------------*/
@keyframes top{
    0%{
        top: 0;
        transform: rotate(0);
    }
    50%{
        top: 7px;
        transform: rotate(0);
    }
    100%{
        top: 14px;
        transform: rotate(45deg);
    }
}
@keyframes top-back{
    0%{
        top: 14px;
        transform: rotate(45deg);
    }
    50%{
        top: 7px;
        transform: rotate(0);
    }
    100%{
        top: 0px;
        transform: rotate(0);
    }
}

@keyframes middle{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}
@keyframes middle-back{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes bottom{
    0%{
        bottom:0px;
        transform: rotate(0);
    }
    50%{
        bottom:7px;
        transform: rotate(0);
    }
    100%{
        bottom:14px;
        transform: rotate(-45deg);
    }
}
@keyframes bottom-back{
    0%{
        bottom:14px;
        transform: rotate(-45deg);
    }
    50%{
        bottom:7;
        transform: rotate(0);
    }
    100%{
        bottom:0;
        transform: rotate(0);
    }
}
/*-----------------------------------------------------------*/
@media(max-width:1230px){
    .h1{
        color: #fff;
    }
    .inner__title{
        color: #fff;
    }
    .inner__btn{
        background-color: rgb(172, 185, 221);
        transition: all 0.2s linear;
    }
    .inner__btn:hover{
        background-color:  rgb(133, 156, 217);
        transition: all 0.2s linear;
    }
    .inner__text{
        color: #fff;
    }
    .inner__body{
        padding: 0 10px;
    }


    /* inner__block */
    .inner__block{}
    .innner__item{
        width: 33.3333%;
    }
    .innner__item:nth-child(2){
        display: none;
    }
    .innner__item:nth-child(4){
        display: none;
    }
}
@media(max-width:990px){
    /* about */
    .about__row{
        display: block;
        width: 100%;
        min-height: 600px;

        margin-top: 20px;
    }
    .about__row:last-child{
        margin-top: 640px;
    }
    .about__col{
        margin-right: 0;
        width: 100%;
        height: 600px;
        margin-bottom: 20px;
    }


    /*.partners*/
    .partners{
        margin-top: 520px;
    }
    .partners__col{
        width: 50%;
        margin-bottom: 50px;
    }


    /* .colors */
    .colors__row{
        display: block;
    }
    .colors__row a{
        margin-right: 20px;
    }
    .colors__col {
        display: flex;
        justify-content: center;
    }


    /* footer */
    .footer__col:nth-child(1){
        width: 40%;
    }
    .footer__col a{
        margin-left: 30px;
    }
}
@media(max-width:770px){
    /*header*/
    .header{
        top: 0;
    }
    .header:before{
        background-color: rgb(172, 185, 221);
    }
    .header__body{
        padding: 20px 0;
    }

    /* Header__burger */
    .header__burger{
        display: block;

        width: 40px;
        height: 30px;

        position: relative;
        z-index: 3;
    }

    .header__burger:before,
    .header__burger:after{
        content: "";
        display: block;

        width: 100%;
        height: 2px;

        position: absolute;
        left: 0;

        background-color: #fff;
    }

    .header__burger span{
        content: "";
        display: block;

        width: 100%;
        height: 2px;

        position: absolute;
        top: 14px;

        background-color: #fff;
    }

    .header__burger:after{
        top: 0;
    }
    .header__burger:before{
        bottom: 0;
    }


    /* header__menu */
    .header__menu{
        width: 100%;
        height: 340px;

        position: fixed;
        top: -100%;
        left: 0;
        z-index: 2;

        padding: 100px 0 0 0;

        flex-direction: column;
        align-items: center;
        background-color: #FCD0BA;

        transition: all 0.5s linear;
    }

    .header__list{
        flex-direction: column;
        align-items: center;

        margin-right: 0;
        margin-bottom: 40px;
    }
    .header__list li{
        margin-top: 20px;
        margin-left: 0;
    }
    .header__link{
        font-size: 25px;
        text-transform: uppercase;
    }
    .header__link:before{
        bottom: -5px;
    }

    /* header__form */
    .header__form{
        justify-content: center;
    }
    .header__input{
        padding: 0px 10px;
    }
    .header__input:focus{
        border: 1px solid#000;
    }
    .header__btn{
        padding: 13px 10px;
    }


    /*active*/
    .active .header__menu{
        top: 0;
    }

    .active .header__burger span{
        animation: ease 0.5s middle forwards;
    }
    .active .header__burger:after{
        animation: ease 0.5s top forwards;
    }
    .active .header__burger:before{
        animation: ease 0.5s bottom forwards;
    }


    .header__burger span{
        animation: ease 0.5s middle-back forwards;
    }
    .header__burger:after{
        animation: ease 0.5s top-back forwards;
    }
    .header__burger:before{
        animation: ease 0.5s bottom-back forwards;
    }

    /* body */
    .body.lock{
        overflow: hidden;
    }


    /* inner__block */
    .inner__block{}
    .innner__item{
        width: 50%;
    }
    .innner__item:nth-child(1){
        display: none;
    }



    /*parthers__col*/
    .partners__col{
        width: 100%;
    }


    /* about */
    .about {
        padding: 50px 0 120px 0;
    }
    .section__btn{
        margin-top: 60px;
    }
    .about__item{
        min-height: 400px;
    }
    .about__col {
        height: 340px;
    }
    .about__row:last-child {
        margin-top: 120px;
    }

    .section__title{
        font-size: 39px;
        line-height: 50px;
    }
    .col__item p {
        font-size: 39px;
        line-height: 50px;
    }



    /* .partners */
    .partners{
        margin-top: 0px;
        padding: 50px 0 0px 0;
    }


    /* .colors */
    .colors{
        padding: 50px 0 50px 0
    }

    /* empower */
    .empower{
        padding: 50px 0 50px 0;
    }
    .h3{
        font-size: 50px;
        line-height: 60px;
    }
}
@media(max-width:575px){

    .inner__photo {
        margin-top: 120px;
    }
    .inner__input{
        padding: 13px; 10px;
    }
    .inner__btn{
        padding: 8px 14px;
    }


     /* inner__block */
    .innner__item{
        width: 100%;
    }
    .innner__item:nth-child(3){
        display: none;
    }

    .inner__body {
        top: 110px;
    }

    /*about*/
    .about__section{
        top: 24px;
        left: 13px;
    }
    .about__item {
        min-height: 320px;
    }
    .section__title{
        font-size: 30px;
        line-height: 35px;
    }
    .col__item p{
        font-size: 30px;
        line-height: 35px;
        padding: 0 13px 0 0;
    }
    .col__item{
        top: 19px;
        left: 13px;
    }
    .col__btn{
        bottom: 19px;
        left: 13px;
        font-size: 12px;
        line-height: 15px;

        padding: 10px 15px;
    }
    .about__col{
        height: 260px;
    }

    .about__row:last-child{
        margin-top: -40px;
    }


    /* partners */
    .partners {
        margin-top: -160px;
    }
    .partners__col img{
        object-fit: contain;
        object-position:center;
    }


    .section p{
        font-size: 14px;
    }
    .h2{
        font-size: 27px;
    }
    .colors__row{
        margin-top: 30px;
    }
    .colors__col p {
        top: 4px;
    }
    .h3 {
        font-size: 27px;
        line-height: 35px;
        margin-bottom: 25px;
    }

    .inner__btn{
        padding: 8px 9px;
    }


    /* footer */
    .footer{
        padding: 41px 0;
    }
    .footer__row{
        padding-bottom: 20px;
    }
    .footer__col:nth-child(1){
        display: none;
    }
    .footer__col{
        width: 33.33333%
    }
    .footer__col a{
        margin-left: 0;
        text-align: center;
    }

    .footer__text{
        padding-right: 0;
    }
}
